{% extends "layout.html" %}
{% block content %}
            <div class="login">
                <h1>Modification du compte</h1>
                <form action="{{ url_for('modification_user') }}" method="post">
                    <label for="name">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="name" placeholder="name" id="name" required>
                    
                    <label for="lastname">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="lastname" placeholder="lastname" id="lastname" required>
                    
                    <label for="email">
                        <i class="fas fa-user"></i>
                    </label>
                    <input type="text" name="email" placeholder="email" id="email" required>
                    
                    <label for="password">
                        <i class="fas fa-lock"></i>
                    </label>
                    <input type="password" name="password" placeholder="Password" id="password" required>
                    <div class="msg">{{ msg }}</div>
                    <input type="submit" value="Login">

                    <select name="role">
                        <option></option>
                        {% for role in roles %}
                        <option value="{{ role[0] }}">{{ role[1] }}</option>
                        {% endfor %}
                    </select>

                    







                </form>
            </div>
{% endblock %}